<div ng-controller="RecipesController as ctrl">
<div class="grid-100 row controls">
  <div class="grid-30">
    <select ng-model="ctrl.selectedCategory" >
      <option value="ALL" selected>All Cagegories</option>
      <option ng-repeat="category in ctrl.categories" value="{{category.name}}">{{category.name}}</option>
    </select>
  </div>
  <div class="grid-70">
    <div class="flush-right">
      <button ng-click="ctrl.gotoAddRecipe()">+ Add Recipe</button>
    </div>
  </div>
</div>
<div class="clear"></div>

<div class="grid-100 row" ng-show="( filtered = (ctrl.recipes | filter : ctrl.categoryFilter)).length == 0">
  <div class="grid-70">
    <p>No recipes found! </p>
  </div>
</div>
<div class="grid-100 row addHover" ng-hide="( filtered = (ctrl.recipes | filter : ctrl.categoryFilter)).length == 0" ng-repeat="recipe in ctrl.recipes | filter: ctrl.categoryFilter">
  <a href="#!/edit/{{recipe._id}}">
    <div class="grid-70" >
      <p>
        {{recipe.name}}
      </p>
    </div>
  </a>
  <div class="hoverBlock">
    <div class="grid-30">
      <div class="flush-right">
        <p>
          <a href="#!/edit/{{recipe._id}}"> <img src="images/edit.svg" height="12px"> Edit </a>
          <a class="no-action-link" ng-click="ctrl.deleteRecipe(recipe._id)"> <img src="images/delete.svg" height="12px"> Delete </a>
        </p>
      </div>
    </div>
  </div>
</div>
</div>